/* this flex means that this thing sidebar will  */
/* take only 20 % of the space available */
/* flex: 0 means 0% and 1 means 100% */
.sidebar {
  flex: 0.2;
}

.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}
